<p><%=  link_to "Users", users_path %></p>

<h1>User - <%=  @user.login%></h1>
<ul>
    <li>iD: <%=  @user.id%></li>
    <li>Name: <%=  @user.login%></li>
    <li>Email: <%= @user.email %> $</li>
 </ul>
<p>id - <%=  @user.id%></p>
<br/>
<%#*<p><%=  link_to "Edit item", edit_item_path %></p>%>
<br/>

