<p><%=  link_to "Home", items_path %></p>
<h1>Edit item</h1>

<%= form_for @item do |f| %>

  <p> <b>Name</b><br/> <%= f.text_field :name %> </p>
  <p> <b>Price</b><br/> <%= f.text_field :price %> </p>
  <p> <b>Description</b><br/> <%= f.text_field :description %> </p>
  <p> <b>Weight</b><br/> <%= f.text_field :weight %> </p>

  <br/>
  <p> <%= f.submit "Save Item"  %>  </p>
<% end %>