<h1>Selected item - <%=  @item.name%></h1>
<ul>
    <li>Name: <%=  @item.name%></li>
    <li>Price: <%=   @item.price %> $</li>
    <li>Description: <%= @item.description %></li>
</ul>
<p><%=  @item.name%></p>
