<p><%=  link_to "Home", items_path %></p>

<h1>Selected item - <%=  @item.name%></h1>
<ul>
    <li>Name: <%=  @item.name%></li>
    <li>Price: <%=   @item.price %> $</li>
    <li>Description: <%= urls_to_links(urls_to_images(@item.description)) %></li>
</ul>
<p>id - <%=  @item.id%></p>
<br/>
<p><%=  link_to "Edit item", edit_item_path %></p>
<br/>

